.contact-form {
    margin-top: 20px;
}

.contact-form label {
    display: black;
    margin-bottom: 5px;
    width: 80%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #f60;
}