.footer {

    background-color: #333;
    color: grey;
    padding: 20px;
    text-align: center;
}

.footer-link {
    color: #ffc107;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
}